@import "~bootstrap/dist/css/bootstrap.min.css";

.container {
  background-color: purple;
  color: white;
  padding: 20px;
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  background-color: white;
  color: purple;
  margin-top: 10px;
}

.welcome-container {
  background-image: url('src/assets/flota.png');
  background-size: cover;
 
}

@media (max-width: 767px) {
  .welcome-container {
    background-size: contain;
  }
}
