@import "~bootstrap/dist/css/bootstrap.min.css";
/* app.component.css */
body {
    background-color: purple;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  